{% block content %}

<div class="login">

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Tambahkan Bab</h1>

    <form method="post">
        {% csrf_token %}
        <label for="nama_bab">Nama Bab</label>
        <input type="text" name="bab_name" class="form-control" maxlength="40" required id="nama_bab">
        <button type="submit" value="Submit">Tambahkan</button>
        <!-- <a class="btn-solid-lg" href="/refleksi/">Kembali</a> -->
        <!-- <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Tambahkan" /></td>
        </tr>
        </table> -->-->
    </form>
</div>

{% endblock content %}