{% block content %}

<div class="login">

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Tambahkan Bab</h1>

    <form method="post">
        {% csrf_token %}
        <label for="nama_bab">Nama Bab</label>
        <input type="text" name="bab_name" class="form-control" maxlength="40" required id="nama_bab">
        <button type="submit" value="Submit">Tambahkan</button>

    </form>
</div>

{% endblock content %}